{% extends "mainPage/header.html" %}
{% block content %}
<script type="text/javascript">
var bgcolour=["silver", "#BAF3C3", "#c3baf3"]

document.body.style.background=bgcolour[Math.floor(Math.random()*bgcolour.length)]

</script>

    <form class="form-signin" method="get" target="_self">
        <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-bold">GeekHub</h1>
        <p>Simple Form</p>
      </div>

      <div class="form-label-group">
          <input type="text" name="inputName" id="inputName" class="form-control" placeholder="Full Name" required autofocus>
          <label for="inputName">Full Name</label>
      </div>

      <div class="form-label-group">
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
          <input type="tel" name="inputTel" id="inputTel" class="form-control" placeholder="Phone Number" pattern="^[0-9]{11}$" required autofocus>
          <label for="inputTel">Phone Number with 11 numbers (eg 60123456789)</label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      <p class="mt-5 mb-3 text-muted text-center">Syafiq Dosuki</p>
    </form>

{% endblock %}