{% extends "mainPage/header.html" %}
{% block content %}
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-bold">Thanks</h1>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Syafiq</td>
                <td>abc@xyz.com</td>
                <td>60123456789</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Kipid</td>
                <td>xyz@abc.com</td>
                <td>99987654321</td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>Test</td>
                <td>test@test.com</td>
                <td>00123456789</td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary btn-block" onclick="history.go(-1)" type="submit">Back</button>
    </div>
{% endblock %}